<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(~{::title})">
    <title>Edit note</title>
</head>

<body>
<div class="container">
    <h1>Edit note</h1>
    <hr>
    <form action="#" th:action="@{/updateNote/{id}(id=${note.id})}" th:object="${note}" method="POST">
        <label for="description">Note description:</label>
        <input id="description" type="text" th:field="*{description}" placeholder="Note description" class="form-control col-4">
        <label for="subtasks">Note subtasks:</label>
        <input id="subtasks" type="text" th:field="*{subtask}" placeholder="Note subtask" class="form-control mb-4 col-4">
        <!--        <input type="text" th:field="*{targetDate}" placeholder="Note subtask" class="form-control mb-4 col-4">-->
        <label for="status">Note status:</label>
        <select id="status" th:field="*{status}" placeholder="Note status" class="form-control mb-4 col-4">
            <option value="active">active</option>
            <option value="archived">archived</option>
        </select>
        <button type="submit" class="btn btn-info col-2"> Save Note</button>
    </form>


    <hr>

    <a th:href="@{/}"> Back to Note List</a>
</div>
</body>

</html>