<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(~{::title})">
    <title>To-do-list-manager</title>
</head>
<body>
<div class="container my-2">
    <h1>Note List</h1>
    <a th:href="@{/showNewNoteForm}" class="btn btn-primary btn-sm mb-3" th:onclick="showAlert()"> Add Note </a>
    <a th:href="@{/showArchiveList}" class="btn btn-primary btn-sm mb-3"> Archive List </a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Description</th>
            <th>Subtask</th>
            <!--            <th>Target Date</th>-->
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${note.description}"></td>
            <td th:text="${note.subtask}"></td>
            <!--            <td th:text="${note.targetDate}"></td>-->
            <td th:text="${note.status}"></td>
            <td>
                <a th:href="@{/showFormForEdit/{id}(id=${note.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/archiveNote/{id}(id=${note.id})}" class="btn btn-primary">Archive</a>
                <a th:href="@{/deleteNote/{id}(id=${note.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>