<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(~{::title})">
    <title>New note</title>
</head>

<body>
<div class="container">
    <h1>New note</h1>
    <hr>
    <form action="#" th:action="@{/saveNote}" th:object="${note}" method="POST">
        <input type="text" th:field="*{description}" placeholder="Note description" class="form-control mb-4 col-4">
        <input type="text" th:field="*{subtask}" placeholder="Note subtask" class="form-control mb-4 col-4">
<!--        <input type="text" th:field="*{targetDate}" placeholder="Note targetDate" class="form-control mb-4 col-4">-->
        <input type="text" th:field="*{status}" placeholder="Note status" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Save Note</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Note List</a>
</div>
</body>

</html>